<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Skip_password_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Password_edit_Activity"
            android:exported="false"
            android:parentActivityName=".Notes_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Notes_details_Activity"
            android:exported="false"
            android:parentActivityName=".Notes_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Edit_notes_Activity"
            android:exported="false"
            android:parentActivityName=".Notes_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Create_notes_activity"
            android:exported="false"
            android:parentActivityName=".Notes_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Password_activity"
            android:exported="false"
            android:parentActivityName=".Choose_Activity" />
        <activity
            android:name=".Notes_Activity"
            android:exported="false"
            android:parentActivityName=".Choose_Activity" />
        <activity
            android:name=".Choose_Activity"
            android:exported="false" />
        <activity
            android:name=".Forget_password_Activity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUp_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>